<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/copy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


</head>
<body>


    
  <div class="black-head">
    <div class="envelop">
        <i class="fa-solid fa-envelope"></i>
        <span>Isha@gmail.com</span>
    </div>
  
    <div class="fone">
        <i class="fa-solid fa-phone"></i>
        <span>+252-063-3255609</span>
    </div>
  
    <div class="icons-social">
    
  
      <a href="https://www.facebook.com/profile.php?id=61558524569495&mibextid=ZbWKwL" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
   
      <a href="https://www.linkedin.com/in/isha-horn-academic-698bb7304" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
      
       
    </div>
  </div>
  
  <header class="header">
    <div class="container">
    <div class="logo">
    <img src="./image/logo.png" alt=""> 
    <h2>Isha Academy</h2>
    </div>
    <nav class="menu">
    <div class="head">
      
      <img src="./image/logo.png" alt=""> 
        <button type="button" class="close-menu-btn"></button>
  
    </div>
    <ul>
          <li><a href="/">Home</a></li>
  
          <li class="dropdown">
            <a href="#">Pages</a>
            <i class="fa-solid fa-angle-down"></i>
                  <ul class="sub-menu">
                    <li><a href="/mission"><span>Our Mission</span></a></li>
                    <li><a href="/policy"> <span>Policies</span></a></li>
                    <li><a href="/contact"><span>Contact us </span></a></li>
                    <li><a href="/instructor"> <span>Instructors</span></a></li>
      
                  </ul>
          </li>
  
          <li class="dropdown">
            <a href="#">Courses</a>
            <i class="fa-solid fa-angle-down"></i>
                  <ul class="sub-menu">
                    <li><a href="/view-courses-readonly"><span>It</span></a></li>
                    <li class="dropdown">
                      <a href="#"><span>Language Courses</span></a>
                      <i class="fa-solid fa-angle-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Somali</span></a></li>
                        <li><a href="#"><span>English</span></a></li>
                        <li><a href="#"><span>Arabic</span></a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#"><span>Research Courses</span></a>
                      <i class="fa-solid fa-angle-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Market Research</span></a></li>
                        <li><a href="#"><span>Social Research</span></a></li>
                      </ul>
                    </li>
  
                    <li class="dropdown">
                      <a href="#"><span>Data Courses </span></a>
                      <i class="fa-solid fa-angle-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Data Literacy</span></a></li>
                        <li><a href="#"><span>Data Governanace</span></a></li>
                        <li><a href="#"><span>Data Analytics</span></a></li>
                        <li><a href="#"><span>Hr Analytics</span></a></li>
  
                      </ul>
                    </li>
  
                    <li class="dropdown">
                      <a href="#"><span>More Courses</span></a>
                      <i class="fa-solid fa-angle-down"></i>
                      <ul class="sub-menu sub-menu-right">
                        <li><a href="#"><span>Power Bi</span></a></li>
                        <li><a href="#"> <span>Customer Care</span> </a></li>
                        <li><a href="#"> <span>Project Management</span></a></li>
                        <li><a href="#"> <span>Office Cleaning</span></a></li>
                      </ul>
                    </li>
                  </ul>
          </li>        
  
          <li class="dropdown">
            <a href="/register">Registeration</a>
          </li>
  
    </ul>
  
    </nav>
    <div class="header-right">
    <button type="button" class="search-btn icon-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button type="button" class="cart-btn icon-btn"><i class="fa-solid fa-shopping-cart"></i></button>
    <button type="button" class="open-menu-btn">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>
    </div>
    </div>
  </header>


    
<div class="term-container">
    <div class="copy-right-container">
        <div class="copy-right-img">
           
            <img src="./image/term&condition.jpeg" alt="">
        </div>

    </div>


        <div class="condition">
            <ul>
                <li> <b>Introduction   : </b >   Welcome to SHAMSA TUITION CENTER, your premier destination for personalized and effective academic support.
                     At SHAMSA TUITION CENTER, we believe that every student has the potential to excel with the right guidance and support.
                     Our platform is designed to connect students with experienced tutors who are dedicated to helping them achieve their educational goals.
                     
                     <p>
                        Whether you're seeking assistance with a specific subject, preparing for standardized tests,
                         or looking for enrichment opportunities, SHAMSA TUITION CENTER is here to support you every step of the way.
                         Our team of qualified tutors offers a wide range of expertise across various subjects and grade levels, ensuring that you receive tailored instruction that meets your unique needs.
                     </p>

                     <p>
                        We understand that every student learns differently, which is why we prioritize individualized instruction and personalized learning plans.
                         Our tutors work closely with each student to identify strengths, address weaknesses,
                         and develop effective study strategies that promote academic success.
                     </p>

                     <p>
                        With SHAMSA TUITION CENTER, learning is not confined to the classroom.
                         Our convenient online platform allows students to access quality tutoring services from the comfort of their own home,
                          eliminating geographical barriers and scheduling constraints. Whether you prefer one-on-one tutoring sessions or group lessons,
                         our flexible scheduling options make it easy to find the support you need when you need it.
                     </p>

                     <p>
                        At SHAMSA TUITION CENTER, we are committed to fostering a supportive and collaborative learning environment where students feel empowered to ask questions, explore new concepts,
                         and reach their full potential. Join us on your educational journey and unlock a world of possibilities with SHAMSA TUITION CENTER.
                     </p>

                </li>


                <li> 
                    <b>Acceptance of Terms   <br>  
                    User Responsibilities <br>
                age:</b >  You must be at least 10 years old to use the Website. 
                Account Creation: create an account and complete information when creating an account to keep your account information updated.
                Account Security: You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
                 You agree to notify us immediately of any unauthorized use of your account or any other breach of security.


                    <p>
                         <b>Lawful Use: </b> You agree to use the Website only for lawful purposes and in accordance with these Terms.
                          You may not use the Website in any way that violates any applicable laws or regulations.
                    </p>

                    <p>
                        <b>Prohibited Activities:</b> You may not engage in any of the following activities:
                        <ul>
                            <li>Violating any third-party rights, including intellectual property rights.</li>
                            <li>Attempting to gain unauthorized access to the Website or other accounts or computer systems.</li>
                            <li>Engaging in any conduct that restricts or inhibits any other user from using or enjoying the Website.</li>
                            <li>Interfering with or disrupting the Website or servers or networks connected to the Website.</li>
                        </ul>

                    </p>

                    <p>
                       With SHAMSA TUITION CENTER, learning is not confined to the classroom.
                        Our convenient online platform allows students to access quality tutoring services from the comfort of their own home,
                         eliminating geographical barriers and scheduling constraints. Whether you prefer one-on-one tutoring sessions or group lessons,
                        our flexible scheduling options make it easy to find the support you need when you need it.
                    </p>

                    <p>
                        <b>Content Submission:</b> If you submit any content to the Website, you represent and warrant that you have the right to do so and that the content does not violate any third-party rights or applicable laws. <br>

                    Modification of Terms <br>
                    We reserve the right to modify or update these Terms at any time without prior notice. By continuing to use the Website after such modifications, you agree to be bound by the updated Terms. It is your responsibility to review these Terms periodically for changes. 
                    </p>

               </li>

               <li> <b>Tuition Services  <br>
                Subject-Specific Tutoring : </b> Our experienced tutors specialize in a wide range of subjects, including but not limited to:

                <ul>
                    <li>Mathematics</li>
                    <li>Science (Biology, Chemistry, Physics)</li>
                    <li>English Language Arts</li>
                    <li>History/Social Studies</li>
                    <li>Foreign Languages</li>
                    <li>Test Preparation (IGCSE and GCSE Exams, etc.)</li>
                </ul>


                <p>
                    <b>Customized Learning Plans: </b>We understand that every student has unique learning needs and goals. That's why our tutors work closely with each student
                     to develop personalized learning plans tailored to their individual strengths, weaknesses, and learning styles.
                </p>

                <p>
                    <b>One-on-One Tutoring :</b> We offer one-on-one tutoring sessions where students receive undivided attention from a dedicated tutor. This personalized approach allows for focused instruction and targeted support to address specific academic challenges
                </p>

                <p>
                    <b>Small Group Sessions :</b>  In addition to one-on-one tutoring, we also offer small group sessions for students who prefer collaborative learning environments.
                     Group sessions provide opportunities for peer interaction, group discussions, and shared learning experiences
                </p>
                <p>
                    <b>Flexible Scheduling :</b> We understand that students have busy schedules, so we offer flexible scheduling options to accommodate their needs. Whether you prefer daytime, evening, or weekend sessions, we strive to find convenient times that work for you.
                </p>

                <p>
                    <b>Online Tutoring Platform :</b> Our tuition services are available online, allowing students to access quality tutoring from anywhere with an internet connection. Our secure and user-friendly online platform provides a virtual classroom environment where students can interact with tutors, access learning materials, and participate in interactive sessions.
                    Progress Monitoring and Feedback: Throughout the tutoring process, our tutors monitor student progress closely and provide regular feedback to students and parents/guardians. We believe that ongoing assessment and communication are essential for tracking progress and identifying areas for improvement.
                </p>

                <p>
                    <b>Continuous Support:</b> Our commitment to student success extends beyond individual tutoring sessions. We offer ongoing support and resources to help students develop essential study skills, organizational strategies, and academic confidence.
                </p>
                </li>

            </ul>
        </div>
</div>



    

<section class="footer">
  <div class="footer-row">


      <div class="footer-col">
     
          <p>
              Subscribe to our newsletter for a weekly dose
              of news, updates, helpful tips, and
              exclusive offers.
          </p> 
      </div>
    <div class="footer-col">
      <h4>Info</h4>
      <ul class="links">
          <li><a class="active" href="/index">Home</a></li>
          <li><a href="/register">Registration</a></li>
          <li><a href="/instructor">Instructors</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Office</h4>
      <p id="p">
    
      
    Isha Academy, <br>
    Burj Omar,6th Floor, <br>
    1st Road, Hargeisa, Somaliland, Hargeisa,
    </p>
    </div>


    <div class="footer-col">
      <h4>Newsletter</h4>
      <div>
        <input type="text" placeholder="Your email" required id="input">
        <button type="submit">SUBSCRIBE</button>
      </div>
      <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=61558524569495&mibextid=ZbWKwL" target="_blank"> <i class="fa-brands fa-facebook"></i></a>       
        <a href="https://www.linkedin.com/in/isha-horn-academic-698bb7304" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
      </div>
    </div>
  </div>
</section>
<div class="copy-right">
  <h1><a href="/sitemap">Sitemap</a> | <a href="/copyright">Copyright © </a> |  <a href="/term&condition">Terms & Condition</a>  | <a href="/policy">Privacy</a>  |  <a href="/disclaimer"> Discalimer </a>  </h1>
</div>
 <script src="/script.js"></script>
</body>             
</html>




















